/* ---- RESET DE BASE ---- */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto Flex", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* facultatif, pour donner un peu d'espace autour */
}

.logo {
    max-width: 250px;
    height: auto;
}


/* Layout pour coller le footer en bas même si peu de contenu */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* le main ou ton contenu éventuel prendra toute la hauteur restante */
main {
    flex: 1;
}

/* Style minimal pour le footer */
.footer-content {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    font-weight: 2rem;
}

a{
    color: #fff;
    text-decoration: none;
}
