/* Reset et base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: "Oswald", sans-serif;
    background: linear-gradient(120deg, #2c003e, #4b0082);
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('../images/signes/star.webp') no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 200;
    font-size: 8rem;
    letter-spacing: 0.rem;
    color: #ffffff;
    margin: 0 auto;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background: linear-gradient(135deg, #5a189a, #7b2cbf);
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.card h2 {
    font-family: "Manufacturing Consent", system-ui;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    color: #ffddf4;
}

.card p {
  font-size: 1.2rem;
  color: #e0b3ff;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #cccccc;
  margin-top: auto;
}
