/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* STRUCTURE GÉNÉRALE */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: radial-gradient(circle at center, #0c2340 0%, #081423 100%);
  background: url('../images/signes/zodiaque.jpeg') no-repeat center center fixed;
  color: #fefefe;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

/* HEADER */
header.navbar {
  background-color:#0c2340;
  margin-bottom: 20px;
  padding: 20px;
}

/* TITRES */
h1 {
  color: #ffffff;
  font-size: 4.5rem;
  line-height: 4 rem;
  font-weight: 800;
  margin: 0rem 0;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

#date-jour {
    color:  #ffd700;
    text-transform: uppercase;
    font-size: 4.5rem;
    line-height: 3.5rem;
}

h3 {
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 200;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}


/* MAIN */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.btn-tirer {
  background: linear-gradient(45deg, #ffd700, #ffea70);
  color: #0c2340;
  border: none;
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}

.btn-tirer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  transform: skewX(-25deg);
  transition: all 0.5s ease;
}

.btn-tirer:hover::before {
  left: 130%;
}

.btn-tirer:hover {
  background: linear-gradient(45deg, #ffea70, #ffd700);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  transform: translateY(-4px);
}

.btn-tirer:active {
  animation: clickEffect 0.5s ease;
  background: linear-gradient(45deg, #ff8c00, #ffa500);
  color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  transform: translateY(0);
}


















/* FOOTER */
footer {
  background: #0c2340;
  color: #ffd700;
  padding: 1.5rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  border-top: 1px solid #ffd700;
  margin-top: auto;
  letter-spacing: 0.1rem;
}

.footer-content a {
  font-size: 1.2rem;
  color: #ffd700;
  text-decoration: none;
  font-weight: 600;
}

.footer-content a:hover {
  text-decoration: underline;
}




















/* RESPONSIVE */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
    margin: 0 auto;
  }

  #date-jour {
    color:  #ffd700;
    text-transform: uppercase;
    font-size: 3rem;
}

  h3 {
    font-size: 2rem;
    line-height: 2.3rem;
    padding-top: 1rem;
  }


}
