/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TikTok Sans", sans-serif;
}


/* loader logo oiseau */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff88;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-logo {
  width: 0px;
  height: auto;
  animation: growLogo 1s infinite ease-in-out;
}

@keyframes growLogo {
  0% {
    width: 0px;
    opacity: 0;
  }
  50% {
    width: 200px;
    opacity: 1;
  }
  100% {
    width: 0px;
    opacity: 0;
  }
}





/* STRUCTURE GÉNÉRALE */
html, body {
  height: 100%;
}

body {
  font-family: "TikTok Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: radial-gradient(circle at center, #0c2340 0%, #081423 100%);
  background: url('../images/signes/zodiaque.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: #fefefe;
  text-align: center;
}

/* HEADER */
header.navbar {
  background-color: #0c2340;
  margin-bottom: 20px;
  padding: 20px;
}

/* TITRES */
h1 {
  color: #ffffff;
  font-size: clamp(4rem, 4.5vw, 5rem);
  line-height: 1.2;
  font-weight: 200;
  margin: 0;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

#date-jour {
  color: #ffd700;
  font-size: clamp(3.5rem, 4vw, 4.5rem);
  line-height: 5rem;
  font-family: "Dancing Script", cursive;
}

h2 {
  color: #ffffff;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  line-height: 1.6;
  font-weight: 200;
  margin-bottom: 1rem;
}

/* MAIN */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

/* BOUTON */
.btn-tirer {
  font-family: "TikTok Sans", sans-serif;
  background: linear-gradient(45deg, #ffd700, #ffea70);
  color: #0c2340;
  border: none;
  padding: clamp(0.5rem, 2vw, 1rem) clamp(1rem, 5vw, 2.5rem);
  font-size: clamp(1rem, 2vw, 1.8rem);
  font-weight: 300;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}

.btn-tirer::before {

  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  transform: skewX(-25deg);
  transition: all 0.5s ease;
}

.btn-tirer:hover::before {
  left: 130%;
  font-weight: 900;
}

.btn-tirer:hover {
  font-weight: 900;
  background: linear-gradient(45deg, #ffea70, #ffd700);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  transform: translateY(-4px);
}

.btn-tirer:active {
  font-weight: 900;
  animation: clickEffect 0.5s ease;
  background: linear-gradient(45deg, #ff8c00, #ffa500);
  color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  transform: translateY(0);
}

/* CONTAINER DES CARTES */
.cartes-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

/* CARTE INDIVIDUELLE */
.carte {
  width: 100%;
  max-width: 400px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.carte:hover {
  transform: scale(1.25);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  z-index: 2;
}


/* IMAGE DANS LA CARTE */
.carte img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

/* TEXTE DANS LA CARTE */
.carte h3 {
  margin: 0.8rem 1rem 0.4rem 1rem;
  font-size: 4rem;
  color: #0c2340;
  font-family: "Dancing Script", cursive;
}

.carte p {
  margin: 0 1rem 1rem 1rem;
  font-size: 1.4rem;
  color: #0c2340;
}

/* flouter les autres cards */
.cartes-flex:hover .carte:not(:hover) {
  filter: blur(3px);
  opacity: 0;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

/* FOOTER */
footer {
  background: #0c2340;
  color: #ffd700;
  padding: 1.5rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  border-top: 1px solid #ffd700;
  margin-top: auto;
  letter-spacing: 0.1rem;
}

.footer-content a {
  font-size: 1.2rem;
  color: #ffd700;
  text-decoration: none;
  font-weight: 600;
}

.footer-content a:hover {
  text-decoration: underline;
}

/* MEDIA QUERIES RESPONSIVE */

/* Tablettes */
@media (min-width: 600px) {
  .carte {
    width: calc(50% - 2rem);
  }
}

/* Ordinateurs */
@media (min-width: 1024px) {
  .carte {
    width: calc(33.333% - 2rem);
  }
}
